        <!--Family Monthly Income Card Start-->
        <div class="card mt-3 p-3">
            <div class="container">
              <div class="container">
                <div>
                  <label for="monthly-income"
                    ><strong>Family Monthly Income: </strong></label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="monthly-income"
                    id="below-20-thousand"
                    value="1"
                  />
                  <label class="custom-control-label" for="below-20-thousand">
                    below 20,000
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="monthly-income"
                    id="between-20-40-thousand"
                    value="2"
                  />
                  <label
                    class="custom-control-label"
                    for="between-20-40-thousand"
                  >
                    between 20 and 40 thousand
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="monthly-income"
                    id="between-40-60-thousand"
                    value="3"
                  />
                  <label
                    class="custom-control-label"
                    for="between-40-60-thousand"
                  >
                    between 40 and 60 thousand
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="monthly-income"
                    id="between-60-80-thousand"
                    value="4"
                  />
                  <label
                    class="custom-control-label"
                    for="between-60-80-thousand"
                  >
                    between 60 and 80 thousand
                  </label>
                </div>
  
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="monthly-income"
                    id="between-80-thousand-1-lakh"
                    value="5"
                  />
                  <label
                    class="custom-control-label"
                    for="between-80-thousand-1-lakh"
                  >
                    between 80 thousand and 1 lakh
                  </label>
                </div>
  
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="monthly-income"
                    id="more-than-1-lakh"
                    value="6"
                  />
                  <label class="custom-control-label" for="more-than-1-lakh">
                    More than 1 lakh
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!--Family Monthly Income Card End-->
  
          <!--Family Support and care Card Start-->
          <div class="card mt-3 p-3">
            <div class="container">
              <div class="container">
                <div>
                  <label for="family"
                    ><strong>How do you rate your?</strong></label
                  >
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>1</th>
                      <th>2</th>
                      <th>3</th>
                      <th>4</th>
                      <th>5</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Family Care At Home</td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="care1"
                            name="care"
                            class="custom-control-input"
                            value="1"
                          />
                          <label class="custom-control-label" for="care1"></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="care2"
                            name="care"
                            class="custom-control-input"
                            value="2"
                          />
                          <label class="custom-control-label" for="care2"></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="care3"
                            name="care"
                            class="custom-control-input"
                            value="3"
                          />
                          <label class="custom-control-label" for="care3"></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="care4"
                            name="care"
                            class="custom-control-input"
                            value="4"
                          />
                          <label class="custom-control-label" for="care4"></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="care5"
                            name="care"
                            class="custom-control-input"
                            value="5"
                          />
                          <label class="custom-control-label" for="care5"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Family Support For Study</td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="support1"
                            name="support"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="support1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="support2"
                            name="support"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="support2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="support3"
                            name="support"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="support3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="support4"
                            name="support"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="support4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="support5"
                            name="support"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="support5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Family Relation Status</td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="relation1"
                            name="relation"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="relation1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="relation2"
                            name="relation"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="relation2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="relation3"
                            name="relation"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="relation3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="relation4"
                            name="relation"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="relation4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="relation5"
                            name="relation"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="relation5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--Family Support and care Card End-->
  
          <!--Family Education Card Start-->
          <div class="card mt-3 p-3">
            <div class="container">
              <div class="container">
                <div>
                  <label for="qualification"
                    ><strong>What is the qualification your? </strong></label
                  >
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Primary</th>
                      <th>Secondary</th>
                      <th>Higher Secondary</th>
                      <th>Bachelor's</th>
                      <th>Master's</th>
                      <th>PHD</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Mother</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="mother-primary"
                            name="mother-education"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="mother-primary"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="mother-secondary"
                            name="mother-education"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="mother-secondary"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="mother-higher-secondary"
                            name="mother-education"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="mother-higher-secondary"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="mother-bachelor"
                            name="mother-education"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="mother-bachelor"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="mother-master"
                            name="mother-education"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="mother-master"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="mother-phd"
                            name="mother-education"
                            class="custom-control-input"
                            value="6"
                          />
                          <label
                            class="custom-control-label"
                            for="mother-phd"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>Father</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="father-primary"
                            name="father-education"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="father-primary"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="father-secondary"
                            name="father-education"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="father-secondary"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="father-higher-secondary"
                            name="father-education"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="father-higher-secondary"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="father-bachelor"
                            name="father-education"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="father-bachelor"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="father-master"
                            name="father-education"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="father-master"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="father-phd"
                            name="father-education"
                            class="custom-control-input"
                            value="6"
                          />
                          <label
                            class="custom-control-label"
                            for="father-phd"
                          ></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--Family Education Card End-->
  