        <!--Gender Card Start-->
        <div class="card mt-3 p-3">
            <div class="container">
              <div class="container">
                <div>
                  <label for="gender"><strong>Gender:</strong></label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="gender"
                    id="gender-male"
                    value="1"
                  />
                  <label class="custom-control-label" for="gender-male">
                    Male
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="gender"
                    id="gender-female"
                    value="2"
                  />
                  <label class="custom-control-label" for="gender-female">
                    Female
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!--Gender Card End-->
  
          <!--Health Status Card Start-->
          <div class="card mt-3 p-3">
            <div class="container">
              <div class="container">
                <div>
                  <label for="health-status"
                    ><strong>Health Status: </strong> (1 being worst and 5
                    best)</label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="health-status"
                    id="status1"
                    value="1"
                  />
                  <label class="custom-control-label" for="status1">
                    1
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="health-status"
                    id="status2"
                    value="2"
                  />
                  <label class="custom-control-label" for="status2">
                    2
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="health-status"
                    id="status3"
                    value="3"
                  />
                  <label class="custom-control-label" for="status3">
                    3
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="health-status"
                    id="status4"
                    value="4"
                  />
                  <label class="custom-control-label" for="status4">
                    4
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="health-status"
                    id="status5"
                    value="5"
                  />
                  <label class="custom-control-label" for="status5">
                    5
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!--Health Status Card End-->
  