        <!--Living With Family Card Start-->
        <div class="card mt-3 p-3">
            <div class="container">
              <div class="container">
                <div>
                  <label for="monthly-income"
                    ><strong>Were you living with your parents?</strong></label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    id="living-with-parents-yes"
                    name="living-with-parents"
                    class="custom-control-input"
                    value="1"
                  />
                  <label
                    class="custom-control-label"
                    for="living-with-parents-yes"
                    >Yes</label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    id="living-with-parents-no"
                    name="living-with-parents"
                    class="custom-control-input"
                    value="2"
                  />
                  <label class="custom-control-label" for="living-with-parents-no"
                    >No</label
                  >
                </div>
              </div>
            </div>
          </div>
          <!--Living With Family Card End-->
  
          <!--General Character Card Start-->
          <div class="card mt-3 p-3">
            <div class="container">
              <div class="container">
                <div>
                  <label for="general-character"><strong>Did you?</strong></label>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Yes</th>
                      <th>No</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>have any police complaints</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="police-yes"
                            name="police"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="police-yes"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="police-no"
                            name="police"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="police-no"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>have any private tuition</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="tuition-yes"
                            name="tuition"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="tuition-yes"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="tuition-no"
                            name="tuition"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="tuition-no"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>have personal phone</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="phone-yes"
                            name="phone"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="phone-yes"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="phone-no"
                            name="phone"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="phone-no"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>have internet at home</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="internet-yes"
                            name="internet"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="internet-yes"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="internet-no"
                            name="internet"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="internet-no"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>have personal computer at home</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="computer-yes"
                            name="computer"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="computer-yes"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="computer-no"
                            name="computer"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="computer-no"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>have any addiction</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="addiction-yes"
                            name="addiction"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="addiction-yes"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="addiction-no"
                            name="addiction"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="addiction-no"
                          ></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--General Character Card End-->
           <!--Interest in Higher Education Card Start-->
           <div class="card mt-3 p-3">
            <div class="container">
              <div class="container">
                <div>
                  <label for="monthly-income"
                    ><strong
                      >Were you interested in pursuing higher education?</strong
                    ></label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    id="interest-higher-education-yes"
                    name="interest-higher-education"
                    class="custom-control-input"
                    value="1"
                  />
                  <label
                    class="custom-control-label"
                    for="interest-higher-education-yes"
                    >Yes</label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    id="interest-higher-education-no"
                    name="interest-higher-education"
                    class="custom-control-input"
                    value="2"
                  />
                  <label
                    class="custom-control-label"
                    for="interest-higher-education-no"
                    >No</label
                  >
                </div>
              </div>
            </div>
          </div>
          <!--Interest in Higher Education Card End-->