        <!--Attendance Percentage Card Start-->
        <div class="card mt-3 p-3">
            <div class="container">
              <div class="container">
                <div>
                  <label for="attendance-percentage"
                    ><strong>Attendance Percentage in School </strong></label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="attendance-percentage"
                    id="below-60"
                    value="1"
                  />
                  <label class="custom-control-label" for="below-60">
                    below 60%
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="attendance-percentage"
                    id="between-60-70"
                    value="2"
                  />
                  <label class="custom-control-label" for="between-60-70">
                    60-70%
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="attendance-percentage"
                    id="between-70-80"
                    value="3"
                  />
                  <label class="custom-control-label" for="between-70-80">
                    70-80%
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="attendance-percentage"
                    id="between-80-90"
                    value="4"
                  />
                  <label class="custom-control-label" for="between-80-90">
                    80-90%
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="attendance-percentage"
                    id="more-90"
                    value="5"
                  />
                  <label class="custom-control-label" for="more-90">
                    above 90%
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!--Attendance Percentage Card End-->
  
          <!--Type of School Card Start-->
          <div class="card mt-3 p-3">
            <div class="container">
              <div class="container">
                <div>
                  <label for="type-school"
                    ><strong>Type of School </strong></label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="type-school"
                    id="private"
                    value="1"
                  />
                  <label class="custom-control-label" for="private">
                    Private
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="type-school"
                    id="public"
                    value="2"
                  />
                  <label class="custom-control-label" for="public">
                    Public
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="type-school"
                    id="community"
                    value="3"
                  />
                  <label class="custom-control-label" for="community">
                    Community
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="type-school"
                    id="others"
                    value="4"
                  />
                  <label class="custom-control-label" for="others">
                    Others
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!--Type of School Card End-->
  
          <!--Medium of Teaching in School Card Start-->
          <div class="card mt-3 p-3">
            <div class="container">
              <div class="container">
                <div>
                  <label for="medium-school"
                    ><strong>Medium of teaching in School </strong></label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="medium-school"
                    id="english"
                    value="1"
                  />
                  <label class="custom-control-label" for="english">
                   English
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="medium-school"
                    id="nepali"
                    value="2"
                  />
                  <label class="custom-control-label" for="nepali">
                    Nepali
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="medium-school"
                    id="others-school"
                    value="3"
                  />
                  <label class="custom-control-label" for="others-school">
                    Others
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!--Medium of teaching in School Card End-->
  
          <!--School General Card Start-->
          <div class="card mt-3 p-3">
            <div class="container">
              <div class="container">
                <div>
                  <label for="school-general"
                    ><strong>How do you rate your?</strong></label
                  >
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>1</th>
                      <th>2</th>
                      <th>3</th>
                      <th>4</th>
                      <th>5</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Your School's Educational Quality</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="school-quality1"
                            name="school-quality"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="school-quality1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="school-quality2"
                            name="school-quality"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="school-quality2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="school-quality3"
                            name="school-quality"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="school-quality3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="school-quality4"
                            name="school-quality"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="school-quality4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="school-quality5"
                            name="school-quality"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="school-quality5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Your School's Effort on Extra Curricular Activities?
                      </th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="school-effort-extra-curricular1"
                            name="school-effort-extra-curricular"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="school-effort-extra-curricular1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="school-effort-extra-curricular2"
                            name="school-effort-extra-curricular"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="school-effort-extra-curricular2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="school-effort-extra-curricular3"
                            name="school-effort-extra-curricular"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="school-effort-extra-curricular3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="school-effort-extra-curricular4"
                            name="school-effort-extra-curricular"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="school-effort-extra-curricular4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="school-effort-extra-curricular5"
                            name="school-effort-extra-curricular"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="school-effort-extra-curricular5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Your School's Effort on Organizing Different Seminars &
                        Workshops??
                      </th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="school-effort-seminars1"
                            name="school-effort-seminars"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="school-effort-seminars1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="school-effort-seminars2"
                            name="school-effort-seminars"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="school-effort-seminars2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="school-effort-seminars3"
                            name="school-effort-seminars"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="school-effort-seminars3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="school-effort-seminars4"
                            name="school-effort-seminars"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="school-effort-seminars4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="school-effort-seminars5"
                            name="school-effort-seminars"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="school-effort-seminars5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--School General Card End-->