
        <!--Skills Card Start-->
        <div class="card mt-3 p-3">
            <div class="container">
              <div class="container">
                <div>
                  <label for="family"
                    ><strong>How do you rate your?</strong></label
                  >
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>1</th>
                      <th>2</th>
                      <th>3</th>
                      <th>4</th>
                      <th>5</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>
                        Quality of doing continuous assessment and lab works?
                      </th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="assessment1"
                            name="assessment"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="assessment1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="assessment2"
                            name="assessment"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="assessment2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="assessment3"
                            name="assessment"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="assessment3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="assessment4"
                            name="assessment"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="assessment4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="assessment5"
                            name="assessment"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="assessment5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>Dependency on notes?</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="notes-dependency1"
                            name="notes-dependency"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="notes-dependency1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="notes-dependency2"
                            name="notes-dependency"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="notes-dependency2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="notes-dependency3"
                            name="notes-dependency"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="notes-dependency3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="notes-dependency4"
                            name="notes-dependency"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="notes-dependency4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="notes-dependency5"
                            name="notes-dependency"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="notes-dependency5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>Quality of reading books?</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="quality-books1"
                            name="quality-books"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="quality-books1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="quality-books2"
                            name="quality-books"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="quality-books2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="quality-books3"
                            name="quality-books"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="quality-books3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="quality-books4"
                            name="quality-books"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="quality-books4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="quality-books5"
                            name="quality-books"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="quality-books5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>Listening Skill?</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="listening-skill1"
                            name="listening-skill"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="listening-skill1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="listening-skill2"
                            name="listening-skill"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="listening-skill2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="listening-skill3"
                            name="listening-skill"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="listening-skill3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="listening-skill4"
                            name="listening-skill"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="listening-skill4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="listening-skill5"
                            name="listening-skill"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="listening-skill5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>Writing Skill?</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="writing-skill1"
                            name="writing-skill"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="writing-skill1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="writing-skill2"
                            name="writing-skill"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="writing-skill2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="writing-skill3"
                            name="writing-skill"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="writing-skill3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="writing-skill4"
                            name="writing-skill"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="writing-skill4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="writing-skill5"
                            name="writing-skill"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="writing-skill5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>Research Skill?</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="research-skill1"
                            name="research-skill"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="research-skill1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="research-skill2"
                            name="research-skill"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="research-skill2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="research-skill3"
                            name="research-skill"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="research-skill3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="research-skill4"
                            name="research-skill"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="research-skill4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="research-skill5"
                            name="research-skill"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="research-skill5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>Communication Skill?</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="communication-skill1"
                            name="communication-skill"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="communication-skill1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="communication-skill2"
                            name="communication-skill"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="communication-skill2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="communication-skill3"
                            name="communication-skill"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="communication-skill3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="communication-skill4"
                            name="communication-skill"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="communication-skill4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="communication-skill5"
                            name="communication-skill"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="communication-skill5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>Temper Control Skill?</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="temper-control-skill1"
                            name="temper-control-skill"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="temper-control-skill1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="temper-control-skill2"
                            name="temper-control-skill"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="temper-control-skill2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="temper-control-skill3"
                            name="temper-control-skill"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="temper-control-skill3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="temper-control-skill4"
                            name="temper-control-skill"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="temper-control-skill4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="temper-control-skill5"
                            name="temper-control-skill"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="temper-control-skill5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>Counselling Skill?</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="counselling-skill1"
                            name="counselling-skill"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="counselling-skill1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="counselling-skill2"
                            name="counselling-skill"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="counselling-skill2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="counselling-skill3"
                            name="counselling-skill"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="counselling-skill3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="counselling-skill4"
                            name="counselling-skill"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="counselling-skill4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="counselling-skill5"
                            name="counselling-skill"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="counselling-skill5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>Discipline?</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="discipline1"
                            name="discipline"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="discipline1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="discipline2"
                            name="discipline"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="discipline2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="discipline3"
                            name="discipline"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="discipline3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="discipline4"
                            name="discipline"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="discipline4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="discipline5"
                            name="discipline"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="discipline5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>Confidence?</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="confidence1"
                            name="confidence"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="confidence1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="confidence2"
                            name="confidence"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="confidence2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="confidence3"
                            name="confidence"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="confidence3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="confidence4"
                            name="confidence"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="confidence4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="confidence5"
                            name="confidence"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="confidence5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>Interest in Study?</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="interest-study1"
                            name="interest-study"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="interest-study1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="interest-study2"
                            name="interest-study"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="interest-study2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="interest-study3"
                            name="interest-study"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="interest-study3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="interest-study4"
                            name="interest-study"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="interest-study4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="interest-study5"
                            name="interest-study"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="interest-study5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>Participation on extra curricular activities?</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="participation-extra-curricular1"
                            name="participation-extra-curricular"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="participation-extra-curricular1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="participation-extra-curricular2"
                            name="participation-extra-curricular"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="participation-extra-curricular2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="participation-extra-curricular3"
                            name="participation-extra-curricular"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="participation-extra-curricular3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="participation-extra-curricular4"
                            name="participation-extra-curricular"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="participation-extra-curricular4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="participation-extra-curricular5"
                            name="participation-extra-curricular"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="participation-extra-curricular5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>Involvement in Social Works?</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="social-works1"
                            name="social-works"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="social-works1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="social-works2"
                            name="social-works"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="social-works2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="social-works3"
                            name="social-works"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="social-works3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="social-works4"
                            name="social-works"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="social-works4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="social-works5"
                            name="social-works"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="social-works5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>Interest in Sports?</th>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="interest-sports1"
                            name="interest-sports"
                            class="custom-control-input"
                            value="1"
                          />
                          <label
                            class="custom-control-label"
                            for="interest-sports1"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="interest-sports2"
                            name="interest-sports"
                            class="custom-control-input"
                            value="2"
                          />
                          <label
                            class="custom-control-label"
                            for="interest-sports2"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="interest-sports3"
                            name="interest-sports"
                            class="custom-control-input"
                            value="3"
                          />
                          <label
                            class="custom-control-label"
                            for="interest-sports3"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="interest-sports4"
                            name="interest-sports"
                            class="custom-control-input"
                            value="4"
                          />
                          <label
                            class="custom-control-label"
                            for="interest-sports4"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input
                            type="radio"
                            id="interest-sports5"
                            name="interest-sports"
                            class="custom-control-input"
                            value="5"
                          />
                          <label
                            class="custom-control-label"
                            for="interest-sports5"
                          ></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--Skills Card End-->
  
         